{% extends 'base.html.twig' %}

{% block title %}Portfolio FALCOZ Alexandre{% endblock %}

{% block body %}
 <div class="header-container">
    <header>
        
    </header>
    <div class="fond">
        <img src="/assets/medias/fond/bureau.jpg" alt="Logo">
    </div>
</div>
{% endblock %}
